set mark-symlinked-directories On
#set show-all-if-ambiguous On
set show-all-if-unmodified On

#"\e[D": backward-char
#"\e[C": forward-char
$if bash
"\e[5D": backward-word		## MacOS: C-left
"\e[5C": forward-word		## MacOS: C-right
"\e[1;5F": kill-line		## MacOS: C-end
"\e[1;5H": backward-kill-line	## MacOS: C-home
"\e[1;5D": backward-word	## cygwin: C-left
"\e[1;5C": forward-word		## cygwin: C-right
"\e[1~": beginning-of-line	## cygwin: home
"\e[4~": end-of-line		## cygwin: end
"\e[F": end-of-line			## MacOS (Konsole): end
"\e[3~": delete-char		## delete
"\e[4;5~": kill-line 		## cygwin: c-end
"\e[2~": overwrite-mode		## Cygwin: Ins key
## Up/down will traverse thru history filtered by any initial commandline input
C-p: history-search-backward
#"\e[A": "\C-p\C-e"
"\e[A": history-search-backward
C-n: history-search-forward
#"\e[B": "\C-n\C-e"
"\e[B": history-search-forward
"\e\e": kill-whole-line
#C-w: kill-word			## For some reason this is not active by default
C-w: "\ed"				## ... C-w has to use a macro call. 
C-z: undo
#"\C-xi": overwrite-mode
"\C-x\C-f": dump-functions
"\C-x\C-a": dump-variables
"\C-x\C-h": dump-macros
TAB: menu-complete
"\e[Z": "\e-1\C-i"		## Shift-TAB: "opposite of TAB"
"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\e[C"	## Edit PATH
"\C-xv": "\C-a\eu\eb\C-k$\C-y\e\C-e\C-a\C-y="		## Edit variable
C-q: "\C-xv"
#"\C-xv": "\ef\e \ed$\C-y\e\C-e\C-x\C-x\C-y="		## Edit variable
#INS: overwrite-mode
$endif ## bash
